#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a wg-easy instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman wg-easy.service
Requires=wg-easy-app.service
Before=wg-easy-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/wg-easy.pid %t/wg-easy.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/wg-easy.pid \
    --pod-id-file %t/wg-easy.pod-id \
    --name wg-easy \
    --publish 127.0.0.1:${TCP_PORT}:51821 \
    --publish 51820:51820/udp \
    --network=slirp4netns:mtu=1500 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/wg-easy.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/wg-easy.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/wg-easy.pod-id
PIDFile=%t/wg-easy.pid
Type=forking

[Install]
WantedBy=default.target